/Better-SignalRGB-Screen-Capture.Core/bin
/Better-SignalRGB-Screen-Capture.Core/obj
/Better-SignalRGB-Screen-Capture/bin
/Better-SignalRGB-Screen-Capture/obj
/Better-SignalRGB-Screen-Capture/.vs
.vsconfig
